.masters-container {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.masters-container h1 {
    text-align: center;
    color: #091f30;
    font-size: 2rem;
    margin-bottom: 20px;
}

.masters-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.masters-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.masters-item h2 {
    font-size: 1.5rem;
    color: #091f30;
    margin-bottom: 10px;
}

.masters-item p {
    font-size: 1rem;
    color: #333;
}
