/* Estilos generales */
.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 20px;
    
}

.card {
    width: 80%; /* Aumenta el ancho para mejor lectura en desktop */
    max-width: 800px; /* Limita el ancho máximo */
    min-height: 250px; /* Altura mínima para asegurar espacio */
    padding: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3); /* Cartas en blanco para destacar */
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
    opacity: 0;
    animation: slideIn 0.8s ease-out forwards; /* Ajuste de la animación */
    margin-bottom: 30px; /* Espacio entre cartas */
}

.card-image {
    width: 28%; /* Imagen un poco más pequeña */
    height: auto;
    border-radius: 5px;
    margin-right: 25px;
    object-fit: cover; /* Asegura que la imagen no se deforme */
}

.card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-content h2 {
    margin: 0 0 10px 0;
    font-size: 2.3em; /* Título más grande */
    color: #ffffff; /* Color principal */
    font-weight:300; /* Mayor peso de fuente */
    text-shadow: #000000 0px 0px 5px; /* Sombra para destacar el texto */
}

.card-content p {
    margin: 8px 0;
    color: #ffffff;
    line-height: 1.6;
}

.card-phrase {
    font-style: italic;
    color: #ffffff;
    margin-top: 15px;
    font-size: 0.9em;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* Deslizamiento desde abajo */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
    .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 90%;
        padding: 20px;
    }
    .card-image {
        width: 70%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .card-content {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .card {
        width: 95%;
        padding: 15px;
    }
    .card-image {
        width: 90%;
    }
    .card-content h2 {
        font-size: 1.5em;
    }
    .card-content p {
        font-size: 1em;
    }
    .card-phrase {
        font-size: 0.9em;
    }
}
