/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

/* Contenedor principal */
.home-container {
  width: 100%;
}

/* Sección de cada contenido */
.section {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* Efecto parallax */
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.section-title {
  font-size: 2.5rem;
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}

/* Espaciado entre secciones */
.section+.section {
  margin-top: 150px;
  /* Espacio vertical entre secciones */
}

/* Franja Blanca */
/* Franja Blanca con Efecto Parallax */
.white-space {
  height: 130px;
  /* Altura de la franja */
  background-image: url('https://res.cloudinary.com/dbfrdhebo/image/upload/v1744553460/haul-back_lgt1fs.jpg');
  background-size: cover;
  /* Ajusta la imagen para cubrir todo el fondo */
  background-repeat: no-repeat;
  /* Evita que la imagen se repita */
  background-position: center;
  /* Centra la imagen en el fondo */
  background-attachment: fixed;
  /* Efecto parallax */
  background-color: rgba(0, 0, 0, 0.05);
  /* Color de fondo semitransparente */
}